@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "display:inline"}))
    {
        @Html.AntiForgeryToken()

        @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
}
else
{
    <a href="@Url.Action("Login", "Account")">Sign In</a><span> or </span><a href="@Url.Action("Register", "Account")">Create Account</a> 
}
