@model int

<div class="up-item">
    <div class="shopping-card">
        <i class="flaticon-bag"></i>
        <span>@Model</span>
    </div>
    <a href="@Url.Action("Index", "Cart")">Shopping Cart</a>
</div>
